.proceed {
	margin-left: 2vw;
	margin-top: 2vw;
	width: 23vw;
	height: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #6b6b6b;
	font-size: 1.5vw;
}

.active { background-color: blue; }
.inactive { background-color: #6b6b6b; }