.defaulthint {
	width: 3vw;
	height: 3vw;
	margin-right: 1vw;
	margin-left: -1vw;
}
.wrapperhint {
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	margin-left: 2vw;
	width: 10vw;
	height: fit-content;
	background-color: #252420;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1vw;
	margin-top: 2vw;
}